body {
  min-height: 100vh;
  background: url("https://i.pinimg.com/originals/70/d2/f2/70d2f218b444215f61dc06ea3a08c2be.jpg");
  /* background-size: 100%; */
  background-position: center;
  background-repeat: no-repeat;
  padding: 0px;
  margin: 0px;
}
